body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Open Sans', sans-serif;
}

.personal {
}

.personal .name {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 22pt;
	padding: 0;
	margin: 0;
	color: #ff3d00;
}

.personal .position {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14pt;
	padding: 0;
	margin: 0;
	color: #555555;
}

.statement {
	font-size: 12pt;
}

.contacts {	
}

.label {
	font-weight: bold;
	color: #333333;
}

.tag {
	border: 1px solid #555;
	border-radius: 5pt;
	padding: 0.5pt 5pt;
	font-size: 9pt;
	font-weight: bold;
	font-family: "monospace";
	color: #fff;
	background-color: #555;
}

.contacts .email, .contacts .phone {
	padding: 0;
	margin: 0;
	font-size: 10pt;	
}

.section h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12pt;	
	color: #333333;
	border-bottom: 3px solid #888888;
	padding: 10pt 0;
}

.project {	
}

.project .name {	
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 14pt;
	color: #ff3d00;
}

.project .time {	
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #555555;
	font-size: 8pt;
}

.project .description {	
}

.project .keywords {	
}

.project hr {
	border: none;
	border-bottom: 3px solid #888888;
	margin-bottom: 20pt;
}

ul {
	list-style-type: square;
}
