body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.personal .name {
	text-transform: uppercase;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.personal .position {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #555555;
}

.personal .statement {
}

.section h2 {
	text-transform: uppercase;
	font-weight: bold;	
}

.project {	
}

.project .name {	
	padding: 0;
	margin: 0;
}

.project .time {	
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #555555;
	font-size: 12px;
}

.project .description {	
}

.project .keywords {	
}